

h1 {
    font-size: 10vw;
    font-weight: 800;
    letter-spacing: -.05em;
    text-transform: uppercase;

}

span {
    font-size: .8em;
    font-weight: 200;
    letter-spacing: .025em;
    text-transform: uppercase;

}