@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

h1 {
    font-size: 9vw;
    font-weight: 800;
    letter-spacing: -.05em;
    text-transform: uppercase;
}

h6 {
    font-size: .5em;
    opacity: .3;
    text-transform: uppercase;
}

span {
    font-size: .8em;
    font-weight: 300;
    letter-spacing: .025em;
    text-transform: uppercase;
    opacity: .75;
}

p {
    font-size: .75em;
    font-weight: 300; 
    opacity: .75;
}